.product-detail-page {
  padding: 40px 0;
  margin-top:100px;     
  background-color: #f9f9f9;
}

.product-detail-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Tạo tỷ lệ 1:1 */
  overflow: hidden;
}

.product-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo ảnh lấp đầy và cắt bớt phần thừa */
  object-position: center; /* Căn giữa ảnh */
  border-radius: 10px;
}

.product-detail-info {
  padding: 20px;
}

.product-detail-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.product-detail-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #8b5a2b;
  margin-bottom: 15px;
}

.product-detail-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.product-detail-info p strong {
  color: #333;
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.quantity-selector button {
  border: 1px solid #ddd;
  background: none;
  color: #8b5a2b;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-selector button:hover {
  background-color: #8b5a2b;
  color: #fff;
}

.quantity-selector span {
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
}

.add-to-cart-button {
  background-color: #f5f0e1;
  border: none;
  color: #8b5a2b;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: #8b5a2b;
  color: #fff;
}

/* Responsive */
@media (max-width: 767px) {
  .product-detail-image-container {
    max-width: 300px;
    margin: 0 auto;
  }

  .product-detail-title {
    font-size: 1.5rem;
  }

  .product-detail-price {
    font-size: 1.2rem;
  }

  .product-detail-info {
    padding: 10px;
  }

  .add-to-cart-button {
    font-size: 14px;
    padding: 8px 15px;
  }
}