.css-u1erzl-MuiContainer-root{
    padding: 0 !important;
    margin: 0 !important;
    max-width: 1600px !important;
}

.css-1lt5qva-MuiCardContent-root:last-child {
   padding-bottom: 12px !important;
  }