.css-x4lmbv-MuiCardContent-root:last-child{
    padding-bottom: 0;
}
.css-1qdz1kf-MuiGrid-root{
    width: 1600px;
}
.status-indicator {
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease, border-color 0.3s ease;
    
  }
  
  .status-indicator.active {
    background-color: white !important; 
    color: #4caf50; 
    border: solid 1px #4caf50; 
  
  }
  
  .status-indicator.inactive {
    background-color: white !important; 
    color: #f44336; 
    border: solid 1px #f44336;
  }
  