/* styles.css */
/* Hiển thị nội dung khi hover vào ô */
.MuiDataGrid-root .hover-cell:hover .hover-content {
  opacity: 1 !important;
  transform: translateY(-15px);
}

/* Đẩy title lên trên khi hover */
.MuiDataGrid-root .hover-cell:hover .hover-title {
  transform: translateY(-15px);
  color: rgb(77, 77, 237);
}

/* Căn giữa nội dung trong ô */
.center-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* css filter */
.MuiDataGrid-cell {
  white-space: nowrap; /* Ngăn chặn xuống dòng */
  overflow: hidden; /* Ẩn nội dung tràn */
  text-overflow: ellipsis; /* Hiển thị dấu "..." khi tràn */
}

.box_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  transition: all 0.3s ease;
}
.bi1:hover{
  color: white !important;
  background-color: #17a2b8;
}
.bi2:hover{
  color: white !important;
  background-color: #ffc107;
}
.bi3:hover{
  color: white !important;
  background-color: #dc3545;
}
.bi2{
  margin-right: 8px;
}
.icon{
  margin: 5px;
}

.icon_reset{
  margin: 5px;
}

.botton_reset :hover{
  background-color: #1976d2 !important;
  color: aliceblue !important;
}


.botton_delete :hover{
  background-color: #1976d2;
  color: aliceblue !important;
}


/* Css active bottom */
.status-indicator {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease, border-color 0.3s ease; 
}

.status-indicator.active {
  color: #4caf50; 
  border: solid 1px #4caf50; 
}

.status-indicator.inactive {
  color: #f44336; 
  border: solid 1px #f44336;
}

/* Hiệu ứng hover */
.status-indicator.active:hover {
  color: white; 
  border-color: #4caf50;
  background-color: #4caf50; 
}

.status-indicator.inactive:hover {
  color: white; 
  border-color: #f44336;
  background-color: #f44336; 
}

.css-1gd5lh1-MuiPaper-root{
  margin-top: 0 !important;
  padding: 0 !important;
}
.css-14vrnb9-MuiDataGrid-root{
  border-radius : 0 !important;
}